html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.color-blue {
    background-color: #2F539B;
}

.color-white{
    color: white;
    
}
.text-blue {
    color: #2F539B;
}

.bx-shadow {
    box-shadow: 2px 2px 2px 2px gray;
}